* {
  box-sizing: border-box;
  font-family: 'Montserrat', cursive;
}

body {
  margin: 0px;
  padding: 0px;
}

#btnStart {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mainDiv {
  position: relative;
  display: inline-block;
}

#fdiv {
  position: absolute;
  display: none;
  width: 100%;
  align-items: center;
  padding: 20px;
}

#j1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border: 4px solid white;
}

#j1bg {
  background-color: #9d174d;
  height: 30px;
  width: 100%;
}

#joueur1Vie {
  position: absolute;
  background-color: #14b8a6;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

#j1compteur {
  display: none;
  position: absolute;
  color: #f97316;
  -webkit-text-stroke: 2px black;
  font-size: 45px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  top: 75px;
  flex-shrink: 0;
  align-items: left;
  justify-content: left;
}

#timer {
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 45px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mouv {
  position: absolute;
  color: #fcd34d;
  -webkit-text-stroke: 2px black;
  font-size: 45px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  top: 90%;
  left: 45%;
  flex-shrink: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#j2 {
  position: relative;
  width: 100%;
  border: 4px solid white;
}

#j2bg {
  background-color: #9d174d;
  height: 30px;
}

#joueur2Vie {
  position: absolute;
  background-color: #14b8a6;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#j2compteur {
  display: none;
  position: absolute;
  color: #f97316;
  -webkit-text-stroke: 2px black;
  font-size: 45px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  top: 75px;
  left: 75%;
  flex-shrink: 0;
  align-items: right;
  justify-content: right;
}

#timerRes {
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
